<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
</head>
<body>
<h1>Welcome</h1>
<form action="/result/" method="POST">
	<label>Enter Wikipedia Url: </label>
	<input type="url" pattern="https://en.wikipedia.org/wiki/.+" required name="url" title="must enter wikipedia url">
	<input type="submit" value="Submit">
</form>
</body>
</html>